footer
	.container
		.section-get-catalog
			p.lead
				|Заказать каталог продукции
			p
				|Для получения печатного каталога продукции<br> компании АНТИвор укажите Ваши контакты:
				form.form-inline
					.form-group
						label.sr-only(for="inputPassword2")
							|mail
						input.form-control(type="mail", id="inputPassword2", placeholder="name@example.com")
					button.btn.btn-warning(type="submit")
						|Получить каталог
				img.img-responsive.center-block.footer-map(src="i/foot_karta.png")
script(src="vendors/jquery/jquery.min.js", deffered="deffered")
script(src="js/ant.js", async="async")
script(src="vendors/bootstrap/js/bootstrap.min.js", async="async")