.w-menu
	.m-menu
		.m-menu-user
			img.city(src="i/map-marker.png")
    			h3
    				|Москва
    			span.small
    				|(изменить)
    //-display: inline-block;
    //-background: none;
           "></h3><span style="
    //- font-style: italic;
    //- border-bottom: 1px dotted #333;
			//- "></span></div>
		h3.m-menu-header
			|Каталог
		a(href="/rstat.html")
			span.item-image.image1
			|Подсчет посетителей
		a(href="/zaschita-na-stellajah.html")
			span.item-image.image2
			|Защита на стеллажах
		a(href="/detexline.html")
			span.item-image.image3
			|Противокражное оборудование
		a(href="/metallodetektoryi.html")
			span.item-image.image4
			|Металлодетекторы
		a(href="/zaschitnyie-boksyi.html")
			span.item-image.image5
			|Защитные Боксы
		a(href="/kryuchki.html")
			span.item-image.image6
			|Защитные крючки
		a(href="/zerkala.html")
			span.item-image.image7
			|Зеркала
		a(href="/idlogic.html")
			span.item-image.image8
			|RFID
		h3.m-menu-header
			|Компания
		a(href="/o-kompanii.html")
			|О компании
		a(href="/o-kompanii.html")
			|Технический центр
		a(href="/o-kompanii.html")
			|Дилерам
		a(href="/o-kompanii.html")
			|Пресс-центр
		a(href="/o-kompanii.html")
			|О компании
		a(href="/o-kompanii.html")
			|Новости
		a(href="/o-kompanii.html")
			|Статьи
		a(href="/o-kompanii.html")
			|Контакты
		a(href="/o-kompanii.html")
			|Фотогалерея