header
	.logo
		img(src="i/main_logo.png", alt="antivor.ru")
	.contacts
		.city
			a.choose-city-link(href="javascript:void(0)")
				span.user-city
					|Москва
		.phone
			.user-phone
				|8 (915) 417-60-18
	button.m-button.m-close(type="button")
		span.icon-bar
		span.icon-bar
		span.icon-bar
	.callback(data-toggle="modal", data-target="#callback")
		img(src="i/callback.png", width="40", height="40")
		span.callback-text
			|Заказать<br>звонок