.m-page {
    position: relative;
    right: 0px;
    left: 0px;
    top:0;
    width: 100%;
    min-height: 100%;
    z-index: 11;
    background: #fff;
    overflow-x: hidden;
    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, .2);
}

.m-button {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;
    margin-right: 5px;
    margin-top:20px;
    cursor:pointer;
    outline: none;
}

.m-button .icon-bar {
    background-color: #fff;
}
.m-button .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.m-button .icon-bar+.icon-bar {
    margin-top: 4px;
}

.m-open {
    background-position: -18px -5px;
}
.m-close {
    background-position: 44px -6px;
}

header, footer {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: linear-gradient(to bottom, #FB0003 0%,#DD000E 100%);
}

header {
    height: 80px;
}

header img {
    margin-top: 5px;
    max-width: 200px;
}

.section-promo {
    margin: 20px 0 30px;
}

.section-promo img {
    margin-bottom: 20px;
}

@media screen and (max-width: 520px) {
    .section-promo .col-xs-4 {
        width: 100%;
    }
}
.section-menu {
    margin: 0 -15px 0 -15px;
    padding: 20px 0 20px;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    background: #ebebeb;
}

.section-menu > div > div  {
    margin-bottom: 20px;
}

.section-menu .menu-element {
    padding: 10px;
    min-height: 280px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.65);
}

@media screen and (max-width: 450px) {
    .section-menu .col-xs-6 {
        width: 100% !important;
    }
}

.section-menu .menu-element span {
    display: block;
}

.section-company {
    margin:20px 0 20px;
}

@media screen and (max-width: 450px) {
    .map {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
.advantages {
    margin-top: 20px;
    font-size: .8em;
}
.advantages .lead {
    font-size: 1em;
    font-weight: 900;
    color: red;
    margin-bottom:4px;
}

.section-about {
    margin-bottom: 40px;
}
footer {
    padding: 20px 0 20px;
}

footer .section-get-catalog {
    text-align: center;
}

footer .section-get-catalog .lead{
    color:white;
    /*text-transform: uppercase;*/
    font-size: 1.1em;
    margin-bottom: 5px;
}

footer .section-get-catalog p{
    color:yellow;
    font-size: 12px;
}

img.footer-map {
    padding-top: 20px;
}

.callback img {
    position: relative;
    top: -10px;
    -webkit-user-select: none;
    display: inline-block;
}

.callback-text {
    display: inline-block;
    color:white;
    font-size: .9em;
}

@media screen and (max-width: 568px){

    .contacts {
        display: none;
    }
}

@media screen and (max-width: 380px){
    .callback-text {
        display: none;
    }
}

.contacts, .callback {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin: 10px 5px 8px 0;
}

.phone {
    font-family: Tahoma;
    font-weight: 900;
    font-size: 1.4em;
    color: #fff200;
}
.contacts, .callback {
    cursor:pointer;
}
.contacts {
    position: relative;
    float: left;
    margin-top: 5px;
    margin-right: 20px;
}

.logo {
    float:left;
}

.logo img {
    position: relative;
    top:-5px;
}


.block2_text_right, .block2_text_left {
    margin: auto !important;
    padding:0 !important;
    text-align: left !important;
    float:none !important;
    width: auto !important;
    border:none;
}
#block3, #block2, #block1 {
    height: auto !important;
}

#block3 ul li{
    display: inline-block;
    vartical-align:top;
}

#block3 ul .last_block_tov {
    margin-right: auto;
}

.mobile-categories {
    margin-bottom: 20px;
}

.mobile-categories .element {
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    background: #fff;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.65);
}

.element-item-title {
    position: absolute;
    left:0;
    bottom: 0;
    padding: 15px 15px 15px;
    margin:0;
    background: url('../images/bg-alpha-074.png');
    text-align: center;
    width: 100%;
}
.mobile-categories .element-item-link {
    color: #292929;
    line-height: 1.2;
    font-weight: bold;
}

@media screen and (min-width: 566px) {
    .mobile-categories .col-sm-3 {
        width: 25%;
    }
    .mobile-categories h2.element-item-title {
        font-size: .9em;
    }
}

@media screen and (max-width: 450px) {
    .mobile-categories h2.element-item-title {
        font-size: .9em;
    }
}