.container
	h1 h1.Заголовок
	h2 h2.Заголовок
	h2 h2.Заголовок
	h2 h2.Заголовок
	h2 h2.Заголовок
	h2 h2.Заголовок
	h3 h3.Заголовок
	h4 h4.Заголовок
	h5 h5.Заголовок
	h6 h6.Заголовок
	a ссылка
	p Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же новая модель организационной деятельности в значительной степени обуславливает создание форм развития. Повседневная практика показывает, что сложившаяся структура организации требуют определения и уточнения соответствующий условий активизации.
	.element-grid
		.row
			.col-md-3.col-sm-6.col-xs-6
				a.element(href="test-page.html")
					img.element-image.img-responsive(src="http://lorempixel.com/400/325/technics/?r=0")
					.element-title
						| Защита товаров
			.col-md-3.col-sm-6.col-xs-6
				a.element(href="test-page.html")
					img.element-image.img-responsive(src="http://lorempixel.com/400/325/technics/?r=1")
					.element-title
						| Защита открытой выкладки
			.col-md-3.col-sm-6.col-xs-6
				a.element(href="test-page.html")
					img.element-image.img-responsive(src="http://lorempixel.com/400/325/technics/?r=2")
					.element-title
						| Датчик
			.col-md-3.col-sm-6.col-xs-6
				a.element(href="test-page.html")
					img.element-image.img-responsive(src="http://lorempixel.com/400/325/technics/?r=3")
					.element-title
						| RFID - системы бесконтактной идентификации
.container
	h2 Ссылки внутри блока
	.element-list
		a.element(href="test-page.html")
			| Противокражные системы<br><span>премиум-класса</span>
		a.element(href="test-page.html")
			| Противокражные системы<br><span>бизнес-класса</span>
		a.element(href="test-page.html")
			| Противокражные системы<br> со встроенным<br><span>металлодeтектором</span>
.container
	h2 Ссылки вне блока
.element-list
		a.element(href="test-page.html")
			| Противокражные системы<br><span>премиум-класса</span>
		a.element(href="test-page.html")
			| Противокражные системы<br><span>бизнес-класса</span>
		a.element(href="test-page.html")
			| Противокражные системы<br> со встроенным<br><span>металлодeтектором</span>